<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%= bootstrap_form_for(@movimiento) do |f| %>
  <div class="row">
  	<div class="col-md-8"><%= f.text_field :estado , required: "required",label:"Estado"%></div>
  	<div class="col-md-4"><%= f.date_field :fecha , label:"Fecha del movimiento"%></div>
  	<%if @vista=="new"%>
  		<%= f.hidden_field :agreement_id, value: params[:format] %>
  	<%end%>
  	<div class="col-md-12"><center><%= f.submit "Agregar" %></center></div>
  </div>
<% end %>

</body>
</html>