<!DOCTYPE html>
<html>
<head>
	<title>Convenios</title>
      <script>
  $("#mostrar").click(function(){
        $(".searchform").show(3000);
        $("#mostrar").hide();
        $("#ocultar").show();
    });
    $("#ocultar").click(function(){
        $(".searchform").hide(3000);
      $("#ocultar").hide();
      $("#mostrar").show();
    });
</script> 
</head>
<body>
<h1>Listado de convenios</h1>
<hr size="50">
<h3>Busqueda de convenios</h3>
<!--<input type="button" id="mostrar" name="boton1" value="Ver barra de busqueda">
<input type="button" id="ocultar" name="boton2" value="Ocultar barra de busqueda" style="display:none;">
<div class="searchform" style="display:none;">
-->
<div class="searchform">
<%= form_tag(agreements_path, :method => "get", id: "search-form") do %>
	<%=label_tag "Fechas: "%><br>
	<%= date_field_tag :search1, params[:search1], placeholder: "Fecha inicial"%>
	<%= date_field_tag :search2, params[:search2], placeholder: "Fecha final"%><br>
	<%=label_tag "Otros campos: "%><br>
	<%= text_field_tag :search3, params[:search3], placeholder: "Número de expediente"%>
	<%= text_field_tag :search4, params[:search4], placeholder: "Denominación", :autocomplete => :off %>
	<%= text_field_tag :search5, params[:search5], placeholder: "Firmante" %><br><br>
	<%= submit_tag "Buscar" %>
<% end %>
</div>
<hr size="50">
<% if can? :new, Agreement %>
	<%=link_to "Nuevo convenio", new_agreement_path, :class => "btn btn-primary btn-sm"%>
<%end%>
<table class="table table-bordered">
<tr>
	<th>Nro. expediente</th>
	<th>Firmantes</th>
	<th class="hidden-xs hidden-sm ">Fecha de firma</th>
	<th class="hidden-xs">Denominación</th>
	<th class="hidden-xs hidden-sm">Estado actual</th>
	<th class="hidden-xs hidden-sm">Decreto/Resolución</th>
</tr>
<%@convenios.all.each do |convenio|%>
<tr>
	<td><%=link_to convenio.expediente, agreement_path(convenio.id)%></td>
	<%@firmas=Signature.getFirmantes(convenio.id)%>
	<td>
		<ul>
		<%@firmas.each do |firma|%>
			<%=firma.firmante%><br>
		<%end%>
		</ul>
	</td>
	<td class="hidden-xs hidden-sm"><%=convenio.fechadefirma.day%>/<%=convenio.fechadefirma.month%>/<%=convenio.fechadefirma.year%></td>
	<td class="hidden-xs"><%=convenio.denominacion%></td>

		<%if convenio.tracings.blank? %>
			<td class="hidden-xs hidden-sm"></td>
		<%else%>	
			<%@ultimomov=Tracing.where(agreement_id: convenio.id)%>
			
			<td class="hidden-xs hidden-sm">
			<%lastmov=@ultimomov.order('fecha').last%>
			<%=lastmov.estado%>
			</td>
		<%end%>
	<td class="hidden-xs hidden-sm"><%=convenio.decreto%></td>
</tr>	
<%end%>
</table>
<%= paginate @convenios %>
</body>
</html>