<!DOCTYPE html>
<html>
<head>
	<title>Convenios</title>
</head>
<body>
<h1>Listado de convenios</h1>
<hr size="50">
<%=link_to "Nuevo convenio", new_agreement_path, :class => "btn btn-primary btn-sm"%>
<table class="table table-bordered">
<tr>
	<th>Nro. expediente</th>
	<th>Contacto</th>
	<th>Fecha de firma</th>
	<th>Compromiso económico</th>
	<th>Estado</th>
	<th>Decreto</th>
</tr>
<%Agreement.all.each do |convenio|%>
<tr>
	<td><%=link_to convenio.expediente, agreement_path(convenio.id)%></td>
	<td><%=convenio.contacto%></td>
	<td><%=convenio.fechadefirma%></td>
	<td><%=convenio.compromisoeconomico%></td>
	<td><%=convenio.estado%></td>
	<td><%=convenio.decreto%></td>
</tr>	
<%end%>
</table>
</body>
</html>