<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Agregar un nuevo convenio</h1>
<p>Por favor complete los siguientes campos para dar de alta un nuevo convenio</p>
<%= bootstrap_form_for(@convenio) do |f| %>
  <%= f.text_field :expediente %>
  <%= f.text_field :contacto %>
  <%= f.text_field :fechadefirma %>
  <%= f.collection_select(:denominacion, Typeagreement.all, :denominacion, :denominacion)%>
  <%= f.text_area :objeto %>
  <%= f.text_field :compromisoeconomico %>
  <%= f.text_field :duracion %>
  <%= f.text_field :estado %>
  <%= f.text_field :decreto %>
  <%= f.text_area :observaciones %>
  <%= f.submit "Agregar" %>
<% end %>

</body>
</html>
